---
layout: default
---

  <div class="fixed top-0 right-0 px3 py2 nav-item">
    <span class="caps" style="padding-right:1.5vw;"><a href="http://www.scatterlab.org/#about">About</a></span>
    <span class="caps" style="padding-right:1.5vw;"><a href="http://www.scatterlab.org/#values">Values</a></span>
    <span class="caps" style="padding-right:1.5vw;"><a href="http://www.scatterlab.org/#contact">Contact</a></span>
    <span class="caps" style="padding-right:1.5vw;text-decoration: underline;"><a href="/">Blog</a></span>
  </div>

    <div class="fixed top-0 left-0 px3 py2 logo">
    <span class="caps" style="padding-right:1.5vw;"><a style="color:#2F1847;" href="http://blog.scatterlab.org/">Skatterlab blog</a></span>
  </div>

{{content}}